/.project
/.pydevproject
*.ipynb
*.py[co~]
*.sw[op]
*.~
.coverage
sqlite.db
.Python
.idea/
.DS_Store
node_modules
npm-debug.log
*.vim
.noseids
*.ropeproject/
__pycache__/
build/
dist/
flake8.out
.c9/
*/tables/*/*.py
config*.json
*.egg-info/
